.status-bar {
	background-color: #ffce33;

	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 15px;
}

.status-bar__title {
	font-weight: 600;
}

.search-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	background-color: white;
	border-radius: 20px;
	color: rgba(0, 0, 0, 0.2);
	top: 48px;
	height: 25px;
	width: 95%;
	padding: 5px 15px;
	margin: 0 15px;

	font-size: 10px;
	border: 2px soild rgba(0, 0, 0, 0.4);
}
